<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ascii-Art</title>
  <link href="/assets/styles/index.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <main>
    <h1> ASCII-ART </h1>
    <div class="form_container">
      <form action="/ascii-art" method="POST">
        <div class="form-group">
          <textarea type="text" id="text" rows="10" cols="50" name="text" maxlength="1000"
            placeholder="Enter your text here">{{.Text}}</textarea>
        </div>
        <div class="form-group choice">
          <div class="love">
            <h3>Choose a style </h3>
            <img class="luv" src="/assets/images/love.png" alt="love">
          </div>
          <label for="standard">
            <input type="radio" name="banner" value="standard" checked id="standard">
            <span>Standard</span>
          </label>
          <label for="shadow">
            <input type="radio" name="banner" value="shadow" {{if eq .Banner "shadow" }} checked {{end}} id="shadow">
            <span>Shadow</span>
          </label>
          <label for="thinkertoy">
            <input type="radio" name="banner" value="thinkertoy" {{if eq .Banner "thinkertoy" }} checked
              {{end}}id="thinkertoy">
            <span>Thinkertoy</span>
          </label>
          <br>
          <label for="want_to_download" class="want_to_download">
            <input type="submit" name="want_to_download" id="want_to_download" value="true" hidden>
            <i class="fa fa-download"></i>    
            <h3>Download</h3>
          </label>

        </div>
        <div class="form-group">
          <div class="buttons">
            <button type="submit">SUBMIT</button>
            <button type="reset" onclick="location.href= 'http://localhost:6500/'" class="colored">CLEAR</button>
            <!-- the <i></i> is where the icon is added so  -->
            <!-- {{if ne .AsciiArt ""}} <button type="submit" class="download"><i class="fa fa-download"><a href="/download?id={{.}}">
                  DOWNLOAD</a></i></button> {{end}} -->
          </div>
          <div {{if ne .FormError "" }} class="disclaimer" {{end}}>{{.FormError}}</div>
        </div>
      </form>
    </div>

    <div class="ascii-art-container">
      <pre>{{.AsciiArt}}</pre>
    </div>
  </main>
  <footer>
    <div>
      <p>made with </p>
      <img class="luv moving" src="/assets/images/love.png" alt="love">
      <p>by </p>
    </div>
    <div>
      <p><a>ooumayma</a> &</p>
      <p><a href="https://github.com/DarkMethoss" target="_blank">aayoubst</a></p>
    </div>
  </footer>

</body>

</html>